<%if user_signed_in?%>
<div class="flex justify-center h-screen w-full items-center flex-col">
  <p class=" text-3xl mb-5 font-bold">Welcome to ASK ME chat-AI </p> 
  <div class="my-5">
    <p>You are <%= current_user.username %></p>
  </div>
</div>
    <%else%>
    <div class="flex min-h-full absolute left-0 justify-center h-screen w-full items-center flex-col">
      <p class=" text-3xl mb-5 font-bold">Welcome to ASK ME chat-AI </p> 
      <div class="my-5">
        <%= link_to "sign In", new_user_session_path, class: " border-[1px] text-xl border-blue-400 rounded-md mr-2 p-3 px-8 bg-blue-400 capitalize text-white" %> 
        <%= link_to "sign Up", new_user_registration_path, class: "border-[1px] text-xl border-blue-400 rounded-md mr-2 p-3 px-8 hover:bg-blue-400 hover:text-white capitalize" %> 
      </div>
   </div>
<%end%>
